// colors /
$primary: #4657C7;
$secondary: #9479A7;
$danger: #cf4d4d;
$info: #633cce;
$success: #5cdb91;
$warning: #f9fc6f;

// text 
$base-font-size: 1rem;
$text-body: #3e4150;


// spacing 
$base-padding: .75rem;
$base-margin: .75rem;

// border color
$border-color: #f5f6fe;	
$box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);


/// device width

$xl: 1200px;
$lg: 990px;
$md: 768px;
$sm: 576px;

